---
layout: page
title: Science Tourist
image: family.jpg
---
{% for post in site.categories.sample %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %} style="background-image:url({{ site.github.url }}/assets/img/Family.jpg)"{% endif %}>
      <h2><span>Science Tourist</span></h2>
    </div>
  </a>
{% endfor %}

<img src="../assets/img/Family.jpg">

<h1> Science Tourist </h1>

<h2> What? </h2>
A family science travel series

<h2> Who? </h2>

The Holbrook-Davé Family loves to travel and explore science & technology in exotic places like Cape Town and in our own backyard like Washington D.C.! 

<bold>Romeel Davé</bold> explores history of science, physics, mechanics, and scientific breakthroughs. <bold>Jarita Holbrook </bold> explores astronomy, women in science, diversity, and enjoys interviewing scientists excited about their research. <bold>Mirabai </bold> explores water, aquaculture, plants, and cool places like aquariums. <bold>Jasmina</bold>, the youngest explores restaurants, local culture, local & ancient textiles, and she cooks for the family. 

<h2> Where? </h2>
You can see our explorations of Edinburgh, United Kingdom, Washington D.C., USA, and Cape Town, South Africa! Next we explore Tenerife, Spain, and Glasgow, United Kingdom. 

<h2> Follow us! </h2>

<a href="https://twitter.com/science_tourist?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @science_tourist</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

Our episodes are found on the series YouTube Channel <a href="https://www.youtube.com/channel/UCvR_8tSJ-UoonGUMvUOvn7w">https://www.youtube.com/channel/UCvR_8tSJ-UoonGUMvUOvn7w</a>

