---
layout: page
title: Video Collection 
---
{% for post in site.categories.videos %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}

<br> <br>
AnthroAstro does not have its own YouTube Channel. 
<br><Br>
Jarita Holbrook is the creator behind "The Cultural Astronomy Channel" on YouTube <a href="https://www.youtube.com/channel/UCzclSftrpdW2XKhQSN7vIBQ">https://www.youtube.com/channel/UCzclSftrpdW2XKhQSN7vIBQ</a>

